.profile__name_size_xs {
  font-size: 22px;
  line-height: 42px;
  margin: 7px 0 0;
}

@media screen and (max-width: 882px) {
  .profile__name_size_xs {
font-size: 10px;
line-height: 42px;
margin: 0 0 0 5px;
  }
}