@import url(./_display/card__delete_display_hide.css);
@import url(./_display/card__delete_display_show.css);

.card__delete {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 18px;
  height: 20px;
  transition: all linear .2s;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: url(../../../images/Trash.svg) no-repeat center/100%;
}

.card__delete:hover {
  transform: scale(1.15);
  background-image: url(../../../images/TrashOpen.svg);
  /* Так ведь красивее=) */
}
